@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Mulish:wght@400;600;700&display=swap');

* {
    font-family: 'Comfortaa', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(214, 213, 213);
}

.container {
    max-width: 700px;
    margin-top: 70px;
}

.container h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(1, 44, 1);
    text-shadow: 1px 1px 20px black;
}

.search-panel {
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    font-size: 20px;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
}

input.search-panel:focus {
    outline: 1px solid rgb(20, 156, 54);
    box-shadow: 0 0 30px rgba(3, 65, 26, 0.33);
}

.list {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.list li {
    margin: 10px 10px;
    font-size: 22px;
    letter-spacing: 2px;
    list-style-type: none;
    color: rgb(1, 44, 1);
    text-shadow: 1px 1px 30px black;
}

.hide {
    display: none;
}